body {
background-color: black;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif, 
}
.header{
    color: white;
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana;
}
a {
    color: aquamarine;
    font-size: 16px
}
.header2{
    font-size: 42px;
    font-weight: 300;
    color: white;
    }
  .paragraph{
    color: gray;
    font-size: 21px;
  }  